{% load staticfiles i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Home{% endblock %}</title>
</head>

<body>
<style>
body {
	margin:0
}
</style>
	<div style="background-color:steelblue;color:white;padding:0.5em">
		<h1>Django Chartflo example</h1>
	</div>
	<div style="padding:1em;text-align:center;width:100%;">
		<div style="display:inline-block;text-align:left;">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>