<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen, projection" href="css/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen, projection" href="css/bulma/bulma.css" />
<link rel="stylesheet" media="screen, projection" href="css/bokeh.css" />
<link rel="stylesheet" media="screen, projection" href="css/screen.css" />
<script type="text/javascript" src="js/bokeh/bokeh.min.js"></script>