<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Report</title>
    {% include "dahsboards/example/head.html" %}
</head>

<body>
	<div class="container-fluid">
		{% include "dahsboards/example/header.html" %}
	</div>
	<div id="content" class="container-fluid">
		<!--  Include charts and widgets here -->
	</div>
	<div>
		{% include "dahsboards/example/footer.html" %}
	</div>
</body>
</html>
