{% load i18n staticfiles %}

<script src="{% static 'js/amcharts/amcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'js/amcharts/serial.js' %}" type="text/javascript"></script>
<script src="{% static 'js/amcharts/plugins/export/export.js' %}" type="text/javascript"></script>
<link href="{% static 'js/amcharts/plugins/export/export.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
var colors = ['#FF6600', '#FCD202', '#B0DE09', '#0D8ECF', '#2A0CD0', '#CD0D74', '#CC0000', '#00CC00', '#0000CC', '#DDDDDD', '#999999', '#333333', '#990000'];
AmCharts.makeChart("{{ datapack.chart_id }}",
	{
		"type": "serial",
		"creditsPosition": "bottom-right",
		"categoryField": "key",
		"rotate": {% if datapack.rotate == True %}true{% else %}false{% endif %},
		"startDuration": 1,
		"categoryAxis": {
			"gridPosition": "start"
		},
		"trendLines": [],
		"graphs": [
			{
				"balloonText": "[[title]] [[key]]:[[value]]",
				"fillAlphas": 1,
				"id": "AmGraph-1",
				"title": "{{ datapack.data_label }}",
				"type": "column",
				"fillColorsField": "color",
				"valueField": "val"
			},
		],
		"guides": [],
		"valueAxes": [
			{
				"id": "ValueAxis-1",
				"title": "{{ datapack.data_label }}",
			}
		],
		"allLabels": [],
		"balloon": {},
		"legend": {
			"enabled": {% if datapack.legend == True %}true{% else %}false{% endif %},
			"useGraphSettings": true
		},
		"export": {
          "enabled": true
        },
		"titles": [
		],
		"dataProvider": [
			{% for label, score in datapack.dataset.items %} 
			{
				"key": "{{ label }}",
				"val": {{ score }},
				"color": colors[Math.floor(Math.random()*colors.length)]
			},
			{% endfor %}
		]
	}
);
</script>
