.sparkline-inline {
	padding-left:0.2em;
}
.sparkline {
	display:inline-block !important;
}
.is-spaced {
	margin:1em !important;
}
.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
.number {
	width:9em;
	height:4em;
	border-radius:0;
	border:1px solid grey;
	margin:0;
	padding:0;
	margin-bottom:0.5em;
	vertical-align:middle;
}
.number-icon, .number-content {
	width:50%;
	height:100%;
}
.number-icon {
	color:white;
	font-size:250%;
}
.number-content {
	text-align:left;
	padding-left:0.5em;
	line-height:1.3em;
}
.number-content .sparkline-embeded {
	margin-top:0.2em;
}
.number-content-num {
	font-weight:bold;
}